<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title || siteName %></title>
  <meta name="description" content="Classic Rentals dashboard" />
  <meta name="theme-color" content="#cd7700" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/dashboard-new-ui.css" />
  <script>
    (function () {
      try {
        var storedTheme = localStorage.getItem('dashboard-dark-mode');
        if (storedTheme === 'dark') document.documentElement.classList.add('dashboard-theme-dark');
      } catch (error) {}
    }());
  </script>
  <script defer src="/js/app-ui.js"></script>
  <script defer src="/js/dashboard-ui.js"></script>
</head>
<body>
<%- include('./toast') %>
