<% const toastFlash = typeof flash !== 'undefined' ? flash : null; %>
<% if (toastFlash && toastFlash.text) { %>
  <div class="toastWrap">
    <div class="toast <%= toastFlash.type === 'error' ? 'isError' : toastFlash.type === 'warn' ? 'isWarn' : 'isSuccess' %>">
      <span><%= toastFlash.text %></span>
      <button type="button" class="toastClose" onclick="this.closest('.toastWrap').remove()">×</button>
    </div>
  </div>
<% } %>
